<div class="container-fluid">
    <div class="row-fluid" id="agile-columns">
        
        <!-- ko foreach: columns -->
        <div class="span3 well column" data-bind="attr: { 'data-id': id() }">
            <h2 contenteditable="true" data-bind="htmlValue: title"></h2>
            
            <div class="cards" data-bind="foreach: tasks, drop: {}">
                <div class="well alert alert-info draggable" data-bind="text: title, attr: { 'data-id': id() }, drag: {}"></div>
            </div>
            
            <div data-bind="visible: $index() === 0">
                <button class="btn" type="button" data-bind="click: $parent.createTask">New task</button>
            </div>
        </div>
        <!-- /ko -->

        <div class="span1">
            <button class="btn" type="button" data-bind="click: createColumn">+ Column</button>
        </div>

    </div>
</div>
