<div class="container-fluid">
    <div class="row-fluid" id="agile-columns">

        <div class="span3 well column">
            <h2 contenteditable="true">Todo</h2>

            <div class="well alert alert-info draggable">Drag me</div>
        </div>
        <div class="span3 well column">
            <h2>Doing</h2>
            
            <div class="well alert alert-info draggable">Drag me 2</div>
        </div>
        <div class="span3 well column">
            <h2>Done</h2>
        </div>
        <div class="span3 well column">
            <h2>Archive</h2>
        </div>

    </div>
</div>
